@charset "utf-8";

/* fonts */
/* @font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-Thin.woff2") format("woff2"), url("../../assets/fonts/Pretendard-Thin.woff") format("woff"), url("../../assets/fonts/Pretendard-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}  
@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-ExtraLight.woff2") format("woff2"), url("../../assets/fonts/Pretendard-ExtraLight.woff") format("woff"), url("../../assets/fonts/Pretendard-ExtraLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}  
@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-Light.woff2") format("woff2"), url("../../assets/fonts/Pretendard-Light.woff") format("woff"), url("../../assets/fonts/Pretendard-Light.ttf") format("truetype");
    font-weight: 350;
    font-style: normal;
}  
@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-Regular.woff2") format("woff2"), url("../../assets/fonts/Pretendard-Regular.woff") format("woff"), url("../../assets/fonts/Pretendard-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}  
@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-Medium.woff2") format("woff2"), url("../../assets/fonts/Pretendard-Medium.woff") format("woff"), url("../../assets/fonts/Pretendard-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Pretendard-SemiBold.woff") format("woff"), url("../../assets/fonts/Pretendard-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-Bold.woff2") format("woff2"), url("../../assets/fonts/Pretendard-Bold.woff") format("woff"), url("../../assets/fonts/Pretendard-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-ExtraBold.woff2") format("woff2"), url("../../assets/fonts/Pretendard-ExtraBold.woff") format("woff"), url("../../assets/fonts/Pretendard-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url("../../assets/fonts/Pretendard-Black.woff2") format("woff2"), url("../../assets/fonts/Pretendard-Black.woff") format("woff"), url("../../assets/fonts/Pretendard-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
} */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../../assets/fonts/Pretendard-Black.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Black.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../../assets/fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../../assets/fonts/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../../assets/fonts/Pretendard-Bold.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../../assets/fonts/Pretendard-SemiBold.woff2) format('woff2'), url(../../assets/fonts/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../../assets/fonts/Pretendard-Medium.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../../assets/fonts/Pretendard-Regular.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../../assets/fonts/Pretendard-Light.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Light.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../../assets/fonts/Pretendard-ExtraLight.woff2) format('woff2'), url(../../assets/fonts/Pretendard-ExtraLight.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../../assets/fonts/Pretendard-Thin.woff2) format('woff2'), url(../../assets/fonts/Pretendard-Thin.woff) format('woff');
}

/* reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;} /* vertical-align:baseline; */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{font-family:"Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;font-size:100%;font-weight:400;color:var(--gray555);line-height:1.5;word-wrap:break-word;word-break:keep-all;-webkit-text-size-adjust:none;-ms-text-size-adjust:100%;text-size-adjust:none;}

/* basic tags selector */
img{max-width:100%;height:auto;vertical-align:middle;}
strong, b{font-family:inherit;font-weight:700;}
em,address{font-style:normal;}
blockquote,q{quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none;}
ol,ul,li{list-style:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}/* table-layout:fixed; */
fieldset, legend{background:transparent;}
caption, legend, .blind{position:absolute !important;height:1px !important;width:1px !important;overflow:hidden !important;clip:rect(1px 1px 1px 1px) !important;clip:rect(1px,1px,1px,1px) !important;}
a{color:inherit;text-decoration:none;cursor:pointer;}
button{border:none;box-shadow:none;background:transparent;cursor:pointer;outline:none;border-radius:0;font-size:inherit;font-family:inherit;color:inherit;}
button:focus{outline-style:auto;outline: 2px solid -webkit-focus-ring;}

/* 아이폰(사파리) 터치 메뉴 활성화 관련 */
a, button, [role=button], [role=link], [role=tab]{-webkit-touch-callout:none;}

/* form select */
input,textarea,select,button{box-sizing:border-box;border:none;outline-style:none;border-radius:0;font-size:inherit;font-family:inherit;color:inherit;}/* -webkit-appearance:none;-moz-appearance:none;appearance:none; */
input[type='text'], input[type='password']{resize:none;box-shadow:none !important;border-radius:0;outline:none;}
input:checked{-webkit-appearance:checkbox;}
input[type='text']::-ms-clear, input[type='tel']::-ms-clear{display:none;}
input[disabled], select[disabled], input[readonly], textarea[disabled], button[disabled] {cursor:default;}
input, textarea{-webkit-tap-highlight:rgba(0, 0, 0, 0)}
select{vertical-align:middle;border-radius:0;outline:none;background:transparent;}
select::-ms-expand{display:none;}

@media all and (max-width:800px){
	.ios-os input[type="text"],
	.ios-os input[type="search"],
	.ios-os input[type="password"],
	.ios-os input[type="file"],
	.ios-os input[type="email"],
	.ios-os select,.ios-os textarea{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius:0;}
}

/* checkbox, radio 이미지형 */
input[type='radio'],
input[type='checkbox']{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}

/* input textarea focus */
input[type='text'], input[type='password'], textarea{transition:all 0.1s ease-in-out !important;}
input[type='text']:focus, input[type='password']:focus,textarea:focus{border:2px solid #555 !important;}

/* placeholder, focus */
::placeholder{font-size:inherit;color:#999;letter-spacing:-0.0375em;opacity:1;}
::-webkit-input-placeholder{font-size:inherit;color:#999;letter-spacing:-0.0375em;opacity:1;}
:-moz-placeholder{font-size:inherit;color:#999;letter-spacing:-0.0375em;opacity:1;}
::-moz-placeholder{font-size:inherit;color:#999;letter-spacing:-0.0375em;opacity:1;}
:-ms-input-placeholder{font-size:inherit;color:#999;letter-spacing:-0.0375em;opacity:1;}

input[type='text']:focus::-webkit-input-placeholder{visibility:hidden}
input[type='text']:focus:-moz-placeholder{visibility:hidden}
input[type='text']:focus::-moz-placeholder{visibility:hidden}
input[type='text']:focus:-ms-input-placeholder{visibility:hidden}

/* 폰트칼라 */
:root {
  /* color */
  --primary:#BE1622;
  --secondary:#38384F;
  --gray222:#222;
  --gray555:#555;
  --gray999:#999;
  --grayddd:#ddd;
  --grayeee:#eee;
  --gray:#F1F3F5;
  --white:#fff;
  --black:#000;

  /* font size */
  --size6:0.333rem;
  --size8:0.444rem;
  --size10:0.556rem;
  --size12:0.667rem;
  --size14:0.778rem;
  --size15:0.833rem;
  --size16:0.889rem;
  --size18:1rem;
  --size20:1.111rem;
  --size22:1.222rem;
  --size24:1.333rem;
  --size26:1.444rem;
  --size28:1.556rem;
  --size30:1.667rem;
  --size32:1.778rem;
  --size34:1.889rem;
  --size36:2rem;
  --size38:2.111rem;
  --size40:2.222rem;
  --size42:2.333rem;
  --size44:2.444rem;
  --size48:2.667rem;
  --size50:2.778rem;
  --size52:2.889rem;
  --size56:3.111rem;
  --size60:3.333rem;
  --size64:3.556rem;
  --size70:3.889rem;
  --size80:4.444rem;
  --size90:5rem;
  --size100:5.556rem;
  --size110:6.111rem;
  --size120:6.667rem;
  --size130:7.222rem;
  --size140:7.778rem;
  --size150:8.333rem;
  --size160:8.889rem;
  --size180:10rem;
  --size200:11.111rem;
  --size220:12.222rem;
  --size240:13.333rem;
  --size260:14.444rem;
  --size280:15.556rem;
  --size300:16.667rem;

  --size-50:-2.778rem;
  --size-100:-5.556rem;
  --size-200:-11.111rem;
}

/* font-size:var(--gray222) */

/********************* 반응형 ***********************/
html {
    /* font-size: 125%; */ /* 20px */    
    font-size: 112.5% !important; /* 18px */
}
@media screen and (max-width: 1399.98px) {
    html {
        font-size: 112.5% !important; /* 18px */
    }
}

@media screen and (max-width: 1199.98px) {
    html {
      font-size: 112.5% !important; /* 18px */
    }
  }
  
  @media screen and (max-width: 991.98px) {
    html {
      font-size: 100% !important; /* 16px */
    }
  }
  
  @media screen and (max-width: 767.98px) {
    html {
      /* font-size: 87.5% !important; */ /* 14px */
      font-size: 93.8% !important; /* 15px */
    }
  }
  
  @media screen and (max-width: 575.98px) {
    html {
      /* font-size: 75% !important; */ /* 12px */
      font-size: 87.5% !important; /* 14px */
    }
  }
  
  /* 
  https://nekocalc.com/px-to-rem-converter
  폰트사이즈 18px 기준 rem 단위
  160px - 8.889rem
  110px - 6.111rem
  100px - 5.556rem
  90px - 5rem
  80px - 4.444rem
  70px - 3.889rem
  64px - 3.556rem
  60px - 3.333rem
  56px - 3.111rem
  52px - 2.889rem
  50px - 2.778rem
  48px - 2.667rem
  44px - 2.444rem
  42px - 2.333rem
  40px - 2.222rem
  38px - 2.111rem
  36px - 2rem
  34px - 1.889rem
  32px - 1.778rem
  30px - 1.667rem
  28px - 1.556rem
  26px - 1.444rem
  24px - 1.333rem
  22px - 1.222rem
  20px - 1.111rem
  19px - 1.056rem
  18px - 1rem
  16px - 0.889rem
  15px - 0.833rem
  14px - 0.778rem
  12px - 0.667rem
  10px - 0.556rem
  */
