@charset "utf-8";

/* 메인 비주얼 */
.main_visual{position:relative;width:100%;height:100vh;}
.main_visual:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:35%;background:rgba(56,56,79,0.9);}
.main_visual .main_visual_img{position:relative;width:100%;height:100%;overflow:hidden;}
.main_visual .main_visual_img img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);min-width:1920px;height:100%;}
.main_visual .main_visual_text{display:flex;flex-wrap:wrap;align-items:center;flex-direction:row-reverse;
  justify-content:center;position:absolute;top:65%;left:50%;transform:translate(-50%, -50%);width:1200px;color:var(--white);z-index:1;}
.main_visual .main_visual_text > h3{flex:1 auto;font-size:var(--size110);font-weight:700;line-height:1;margin-left:5rem;}
.main_visual .main_visual_text > h4{font-size:var(--size160);font-weight:700;line-height:1.2;}
.main_visual .main_visual_text > p{font-size:var(--size24);margin-right:var(--size50);}

/* 비즈니스 */
.main_business{padding-bottom:var(--size120);}
.main_business .con_title{margin-bottom:var(--size30);}
.main_business .business_card{display:flex;flex-wrap:wrap;justify-content:space-between;}
.main_business .business_card li{position:relative;margin-bottom:var(--size40);}
.main_business .business_card li:nth-child(1){margin-top:var(--size200);}
.main_business .business_card li:nth-child(2){margin-top:var(--size100);}
.main_business .business_card li:nth-child(5){margin-top:var(--size-100);}
.main_business .business_card li:nth-child(6){margin-top:var(--size-200);}
.main_business .business_card li a{position:relative;display:block;border-radius:var(--size20);overflow:hidden;} /* width:376px; */
.main_business .business_card .thumb{position:relative;width:100%;height:100%;}
/* .main_business .business_card .thumb:hover:after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 65%);z-index:0;transition:all 0.5s;} */
/* .main_business .business_card .thumb img:hover{height:100%;transition:all 0.3s;transform: scale(1) rotate(0.001deg);} */
.main_business .business_card .card{position:absolute;top:var(--size70);left:var(--size40);right:var(--size40);bottom:var(--size70);color:var(--white);z-index:1}
.main_business .business_card .card .title{font-size:var(--size32);font-weight:700;line-height:1.3;}
.main_business .business_card .card .desc{font-weight:600;margin-top:var(--size20);}
.main_business .business_card .card .btn_more{position:absolute;bottom:0;left:0;width:var(--size48);height:var(--size48);border-radius:100%;background:var(--primary) url(../../images/icon/icon_arrow_right_20.svg) 50% 50% no-repeat;}

/* 파트너사 */
.main_partner{position:relative;background:var(--gray);padding-bottom:var(--size120);overflow:hidden;}
.main_partner .con_title{z-index:1;}
.main_partner:after{content:'';position:absolute;top:0;right:0;width:50%;height:100%;background:url(../../images/main/img_main_partners.svg) no-repeat;}

:root {
  --marquee-gap: 2rem;
  --marquee-duration: 45s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--marquee-gap));
}
.marquee_wrap {
  margin: 0 auto;
  max-width: 100vw;  
}
.marquee {
  display: flex;
}
.marquee > *+* {
  margin-left: 2rem;
  margin-left: var(--marquee-gap)
}
.marquee_box {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  animation: scroll-left 45s linear infinite;
  animation: scroll-left var(--marquee-duration) linear infinite;
  z-index:1;
}
.marquee_box > *+* {
  margin-left: 2rem;
  margin-left: var(--marquee-gap);
}
.marquee_tag {
  text-decoration: none;
}
.marquee_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  width: 180px;
  height: 180px;
  background: var(--white);
  overflow: hidden;
}
.marquee_tag_icon {
  width: 140px;
  height: auto;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
    transform: translateX(var(--scroll-start));
  }

  100% {
    transform: translateX(calc(-100% - 2rem));
    transform: translateX(var(--scroll-end));
  }
}

/* 오시는길 */
.main_location{background:url(../../images/main/img_main_location.jpg) 50% 0;padding-bottom:var(--size120);margin-bottom:-10rem;}
.main_location .con_title{color:var(--white);}
.main_location .location_wrap{color:var(--white);}
.main_location .location_wrap span{display:inline-block;margin-right:var(--size50);}
.main_location .location_wrap span i{margin-right:var(--size10);}


/* 반응형 */
@media all and (max-width: 1918.98px) {

}

@media all and (max-width: 1599.98px) {
  
}

@media screen and (max-width: 1399.98px) {
}

@media screen and (max-width: 1199.98px) {
  .main_visual .main_visual_text{flex-direction:column;width:100%;top:58%;text-align:center;}
  .main_visual .main_visual_text > h3{font-size:var(--size80);margin-left:0;}
  .main_visual .main_visual_text > h4{font-size:var(--size140);line-height:1;}
  .main_visual .main_visual_text > p{margin-right:0;margin-top:var(--size40);}

  .main_business .business_card li{width:32%;margin-bottom:var(--size20);}
  .main_business .business_card .card{top:var(--size60);left:var(--size30);right:var(--size30);bottom:var(--size60);}
  .main_business .business_card .card .title{font-size:var(--size28);line-height:1.2;}
  .main_business .business_card .card .desc{font-size:var(--size16);}
  .main_business .business_card .card .btn_more{width:var(--size40);height:var(--size40);background-size:40%;}
}

@media screen and (max-width: 991.98px) {
  .main_business .business_card .card .desc{font-size:var(--size14);margin-top:var(--size14);}
}

/* 모바일 */
@media screen and (max-width: 767.98px) {
  .main_visual .main_visual_text{top:61%;}
  .main_visual .main_visual_text > h3{font-size:var(--size60);}
  .main_visual .main_visual_text > h4{font-size:var(--size100);}
  
  .main_business .business_card li{width:48%;}
  .main_business .business_card li:nth-child(1),
  .main_business .business_card li:nth-child(2),
  .main_business .business_card li:nth-child(5),
  .main_business .business_card li:nth-child(6){margin-top:0;}

  .marquee_tag{width:140px;height:140px;}
  .marquee_tag_icon{width:100px;}

  .main_location{padding-bottom:var(--size80);margin-bottom:-5.556rem;}
  .main_location .location_wrap span{display:block;margin-right:0;margin-bottom:var(--size10);}

  .main_partner:after{background-size:100%;}
}

@media all and (max-width: 575.98px) {
  .main_business .business_card .card{top:var(--size30);left:var(--size20);right:var(--size20);bottom:var(--size20);}
  .main_business .business_card .card .title{font-size:var(--size22);}
  .main_business .business_card .card .btn_more{width:var(--size32);height:var(--size32);background-size:40%;}

  :root {
    --marquee-gap: 1rem;
  }
  .marquee_tag{width:100px;height:100px;}
  .marquee_tag_icon{width:80px;}
}

@media all and (max-width: 478.98px) {
 
}

@media all and (max-width: 358.98px) {
  .main_visual .main_visual_text > h3{font-size:var(--size40);}
  .main_visual .main_visual_text > h4{font-size:var(--size70);}
  .main_visual .main_visual_text > p{font-size:var(--size16);}

  .main_business .business_card .card{top:var(--size20);left:var(--size10);right:var(--size10);bottom:var(--size10);}
  .main_business .business_card .card .title{font-size:var(--size16);}
  .main_business .business_card .card .desc{line-height:1.2;}
}
