@charset "utf-8";


/* 회사소개 - 회사개요 */
.overview_con1{}

.overview_con2{display:flex;margin:var(--size50) 0 var(--size120);}
.overview_con2 dl{display:flex;flex-wrap:wrap;}
.overview_con2 dl dt{width:20%;font-weight:700;color:var(--gray222);padding:var(--size20) 0;border-bottom:1px solid var(--grayeee);}
.overview_con2 dl dd{width:80%;padding:var(--size20) 0;border-bottom:1px solid var(--grayeee);}

.overview_con3{border-radius:var(--size20);overflow:hidden;}
.overview_con3 > div{width:100% !important;height:500px;}

/* 회사소개 - 회사비전 */
.overview_con1{text-align:center;}



/* 반응형 */
@media all and (max-width: 1918.98px) {

}

@media all and (max-width: 1599.98px) {
  
}

@media screen and (max-width: 1399.98px) {

}

@media screen and (max-width: 1199.98px) {
  
}

@media screen and (max-width: 991.98px) {

}

/* 모바일 */
@media screen and (max-width: 767.98px) {
  
}

@media all and (max-width: 575.98px) {

}

@media all and (max-width: 478.98px) {

}

@media all and (max-width: 358.98px) {

}
